body{
    font-family: 'Montserrat', sans-serif;
}

nav {
    display: flex;
    background-color: white;
    align-items: center;
    height: 80px;
    padding-left: 125px;
    padding-right: 125px;
    justify-content: space-between;
    font-size: 30px;
  }

  nav ul {
    display: flex;
    list-style: none;
  }
  
  nav ul li a {
    text-decoration: none;
    padding: 10px;
    font-size: 23px;
    color: black;
    font-weight: 450;
}
    section {
        color: black;
        text-align: left;
        padding: 20px;
        padding-left: 125px;
        padding-right: 125px;
        margin-top: 40px;
      }

      .About{
        color: black;
        text-align: right;
        padding: 20px;
        padding-left: 125px;
        padding-right: 200px;
        margin-top: 150px;
      }
      .Service{
        color: black;
        text-align: left;
        padding: 20px;
        padding-left: 125px;
        padding-right: 200px;
        margin-top: 250px;
      }
  
      .header-text {
        margin-bottom: 10px;
      }

      .header-text-2{
        margin-bottom: 10px;
      }
      .header-text-3{
        margin-bottom: 10px;
      }
      h1, h2 {
        font-size: 35px; 
        margin: 0; 
      }
  
      .subtext {
        color: #666;
        font-size: 14px;
        margin-top: 0;
      }
      .button-container {
        margin-top: 20px;
      }
  
      .button {
        display: inline-block;
        padding: 10px 20px;
        text-decoration: none;
        font-size: 16px;
        cursor: pointer;
      }
  
      .more-info {
        background-color: white;
        border: 2px solid aquamarine;
        color: black;
        margin-right: 10px;
      }

      .contact-us {
        background-color: aquamarine;
        border: 2px solid aquamarine;
        color: black;
      }

      .header-image {
        position: absolute;
        right: 0;
        top: 0;
        height: 350px;
        width: auto;
        margin-right: 200px;
        margin-top: 100px;
    }

    .about-image {
        position: absolute;
        left: 0;
        top: 0;
        height: 400px;
        width: 400px;
        margin-left: 200px;
        margin-top: 500px;

    }
    .angka-text {
        position: absolute;
        top: 600px; 
        right: 180px; 
        font-size: 30px;
        font-weight: bold;
        color: black; 
        margin-top: 50px;
        }
    
        .angka-text p {
        margin: 0; 
        }
    
        .angka-text p span {
        margin-right: 20px; 
        border-bottom: 7px solid aquamarine; 
        padding-bottom: 3px;
        }

        .button-contactus {
            text-decoration: none;
            color: white;
          }

          .contactus {
            margin-left: 125px;
            margin-right: 125px;
            margin-top: 100px;
          }

          .btn-3 {
            width: 100px;
            height: 30px;
            text-align: center;
            color: white;
            background-color: aquamarine;
            border: 3px solid white;
            margin-left: 900px;
          }
          .gambar-1 {
            position: absolute;
            width: 200px;
            height: 150px;
            left: 90px;
            top: 1020px;
            margin-top: 50px;
            }
        
            .gambar-2 {
            position: absolute;
            width: 200px;
            height: 150px;
            left: 530px;
            top: 1020px;
            margin-top: 50px;
            }
        
            .gambar-3 {
            position: absolute;
            width: 200px;
            height: 150px;
            left: 950px;
            top: 1020px;
            margin-top: 50px;
            }
        
            .grid-1 {
            position: absolute;
            width: 175px;
            height: 11 0px;
            left: 90px;
            top: 1170px;
            background-color: white;
            padding: 10px;
            border: 2px solid white; 
            box-shadow: 1px 3px 3px gray; 
            text-align: center;
            }
              
            .kotak1 {
            font-size: 20px;
            font-weight: bold;
            }
              
            .teks-1 {
            font-size: 12px;
            color: gray;
            }
        
            .grid-2 {
            position: absolute;
            width: 175px;
            height: 11 0px;
            left: 530px;
            top: 1170px;
            background-color: white;
            padding: 10px;
            border: 2px solid white; 
            box-shadow: 1px 3px 3px gray; 
            text-align: center;
            }
                  
            .kotak2 {
            font-size: 20px;
            font-weight: bold;
            }
                  
            .teks-2 {
            font-size: 12px;
            color: gray;
            }
        
            .grid-3 {
            position: absolute;
            width: 175px;
            height: 11 0px;
            left: 950px;
            top: 1170px;
            background-color: white;
            padding: 10px;
            border: 2px solid white; 
            box-shadow: 1px 3px 3px gray; 
            text-align: center;
            }
                      
            .kotak-3 {
            font-size: 17px;
            font-weight: bold;
            }
                      
            .teks-3 {
            font-size: 12px;
            color: gray;
            }
        
            .Contactus-text {
            position: absolute;
            top: 1400px; 
            left: 90px;
            font-size: 30px;
            font-weight: bold;
            color: black;
            }
                
            .Contactus-text p {
            margin: 0px 0;
            margin-bottom: 0px; 
            margin-left: 0px;
            }
            
            .lorem-text {
            position: absolute;
            top: 1445px; 
            left: 90px;
            font-size: 16px; 
            color: #999; 
            }
                
            .lorem-text p {
            margin: 0px 0; 
            }
        
            .Location-text {
            position: absolute;
            top: 1540px;
            left: 0px;
            font-size: 30px;
            font-weight: bold;
            color: black;
            margin-left: 1100px;
            }
                    
            .Location-text p {
            margin: 0px;
            margin-bottom: 0px; 
            margin-left: 0px;
            flex: 1;
            padding: 20px; 

            }
            .contact-us-button-right {
            position: absolute;
            top: 900px;
            right: 200px; 
            background-color: aquamarine;
            color: white;
            border: 2px solid aquamarine;
            padding: 7px 28px;
            border-radius: 0;
            }
                
            .contact-us-button-right:hover {
            background-color: white;
            color: aquamarine;
            }

.sec-form{
    margin-top: 380px;
}  

.container{
    margin-bottom: 80px;
    margin-right: 650px;
}

.form-container{
    font-size: 30px;
    border: 4px solid aquamarine;
    width: 450px;
}
.form-container label{
    font-size: 20px;
    font-weight: 600;
    
}
.form-isi{
    display:grid;
    grid-template-columns: auto auto;
}

.form{
    display: grid;
    grid-template-columns: auto;
    margin: 10px;
    outline: none;
    border: none;
    border-bottom: 2px solid black;
}
.form-message{
    display: grid;
    grid-template-columns: auto;
    border-bottom: 2px solid black;
    margin: 10px;
}
.message input{
    margin: 10px;
}
input{
    width: 125px;
    outline: none;
    border: none;
    margin: 5px;
}
.sbm{
    text-align: center;
    border: 2px solid aquamarine;
    background-color: aquamarine;
    width: 425px;
    margin: 10px;
    padding: 5px;
}

footer{
    background-color: aquamarine;
    display: flex;
    flex-direction: row;
    padding-left: 125px;
    padding-right: 125px;
}

footer h4 {
    font-size: 60px;
    font-weight: bold;
    color: white;
    margin: 20px;
}

footer p{
    font-size: 25px;
    color: white;
}

svg {
    width: 40px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 20px;
    margin-right: 20px;
}

.svg{
    margin-left: 700px;
}

.footer{
    width: 400px;
}
